HL7/src/HL7_XML_Files/DONT_TOUCH/HL7_MPA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="HL7">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORU_R01"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORU_R01">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH"/>
        <xs:element ref="PID"/>
        <xs:element ref="PV1"/>
        <xs:element ref="ORC"/>
        <xs:element ref="NTE"/>
        <xs:element ref="ZCF"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="OBR"/>
          <xs:element ref="OBX"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.1"/>
        <xs:element ref="MSH.2"/>
        <xs:element ref="MSH.3"/>
        <xs:element ref="MSH.4"/>
        <xs:element ref="MSH.5"/>
        <xs:element ref="MSH.6"/>
        <xs:element ref="MSH.7"/>
        <xs:element ref="MSH.9"/>
        <xs:element ref="MSH.11"/>
        <xs:element ref="MSH.12"/>
        <xs:element ref="MSH.15"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.1" type="xs:string"/>
  <xs:element name="MSH.2" type="xs:string"/>
  <xs:element name="MSH.3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.3.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.3.1" type="xs:NCName"/>
  <xs:element name="MSH.4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.4.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.4.1" type="xs:NCName"/>
  <xs:element name="MSH.5">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.5.1"/>
        <xs:element ref="MSH.5.2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.5.1" type="xs:string"/>
  <xs:element name="MSH.5.2" type="xs:NCName"/>
  <xs:element name="MSH.6">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.6.1"/>
        <xs:element ref="MSH.6.2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.6.1" type="xs:string"/>
  <xs:element name="MSH.6.2" type="xs:NCName"/>
  <xs:element name="MSH.7" type="xs:integer"/>
  <xs:element name="MSH.9">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.9.1"/>
        <xs:element ref="MSH.9.2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.9.1" type="xs:NCName"/>
  <xs:element name="MSH.9.2" type="xs:NCName"/>
  <xs:element name="MSH.11">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MSH.11.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MSH.11.1" type="xs:NCName"/>
  <xs:element name="MSH.12" type="xs:decimal"/>
  <xs:element name="MSH.15" type="xs:NCName"/>
  <xs:element name="PID">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.1"/>
        <xs:element ref="PID.3"/>
        <xs:element ref="PID.5"/>
        <xs:element ref="PID.7"/>
        <xs:element ref="PID.8"/>
        <xs:element ref="PID.9"/>
        <xs:element ref="PID.11"/>
        <xs:element ref="PID.12"/>
        <xs:element ref="PID.13"/>
        <xs:element ref="PID.14"/>
        <xs:element ref="PID.19"/>
        <xs:element ref="PID.30"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.1" type="xs:integer"/>
  <xs:element name="PID.3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.3.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.3.1" type="xs:NCName"/>
  <xs:element name="PID.5">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.5.1"/>
        <xs:element ref="PID.5.2"/>
        <xs:element ref="PID.5.3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.5.1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.5.1.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.5.1.1" type="xs:NCName"/>
  <xs:element name="PID.5.2" type="xs:NCName"/>
  <xs:element name="PID.5.3" type="xs:NCName"/>
  <xs:element name="PID.7" type="xs:integer"/>
  <xs:element name="PID.8" type="xs:NCName"/>
  <xs:element name="PID.9">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.9.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.9.1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.9.1.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.9.1.1" type="xs:NCName"/>
  <xs:element name="PID.11">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.11.1"/>
        <xs:element ref="PID.11.2"/>
        <xs:element ref="PID.11.3"/>
        <xs:element ref="PID.11.4"/>
        <xs:element ref="PID.11.5"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.11.1" type="xs:string"/>
  <xs:element name="PID.11.2" type="xs:string"/>
  <xs:element name="PID.11.3" type="xs:string"/>
  <xs:element name="PID.11.4" type="xs:NCName"/>
  <xs:element name="PID.11.5" type="xs:integer"/>
  <xs:element name="PID.12" type="xs:NCName"/>
  <xs:element name="PID.13">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.13.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.13.1" type="xs:NMTOKEN"/>
  <xs:element name="PID.14">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID.14.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID.14.1" type="xs:NMTOKEN"/>
  <xs:element name="PID.19" type="xs:integer"/>
  <xs:element name="PID.30" type="xs:NCName"/>
  <xs:element name="PV1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.1"/>
        <xs:element ref="PV1.3"/>
        <xs:element ref="PV1.7"/>
        <xs:element ref="PV1.19"/>
        <xs:element ref="PV1.50"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.1" type="xs:integer"/>
  <xs:element name="PV1.3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.3.4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.3.4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.3.4.1"/>
        <xs:element ref="PV1.3.4.2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.3.4.1" type="xs:NCName"/>
  <xs:element name="PV1.3.4.2" type="xs:integer"/>
  <xs:element name="PV1.7">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.7.2"/>
        <xs:element ref="PV1.7.3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.7.2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.7.2.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.7.2.1" type="xs:NCName"/>
  <xs:element name="PV1.7.3" type="xs:NCName"/>
  <xs:element name="PV1.19">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.19.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.19.1" type="xs:NCName"/>
  <xs:element name="PV1.50">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PV1.50.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PV1.50.1" type="xs:NMTOKEN"/>
  <xs:element name="ORC">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.1"/>
        <xs:element ref="ORC.3"/>
        <xs:element ref="ORC.4"/>
        <xs:element ref="ORC.7"/>
        <xs:element ref="ORC.12"/>
        <xs:element ref="ORC.13"/>
        <xs:element ref="ORC.20"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.1" type="xs:NCName"/>
  <xs:element name="ORC.3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.3.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.3.1" type="xs:NCName"/>
  <xs:element name="ORC.4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.4.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.4.1" type="xs:integer"/>
  <xs:element name="ORC.7">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ORC.12">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.12.2"/>
        <xs:element ref="ORC.12.3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.12.2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.12.2.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.12.2.1" type="xs:NCName"/>
  <xs:element name="ORC.12.3" type="xs:NCName"/>
  <xs:element name="ORC.13">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.13.4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.13.4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORC.13.4.1"/>
        <xs:element ref="ORC.13.4.2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ORC.13.4.1" type="xs:NCName"/>
  <xs:element name="ORC.13.4.2" type="xs:integer"/>
  <xs:element name="ORC.20" type="xs:integer"/>
  <xs:element name="NTE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NTE.1"/>
        <xs:element ref="NTE.3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NTE.1" type="xs:integer"/>
  <xs:element name="NTE.3" type="xs:string"/>
  <xs:element name="ZCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ZCF.1"/>
        <xs:element ref="ZCF.3"/>
        <xs:element ref="ZCF.5"/>
        <xs:element ref="ZCF.7"/>
        <xs:element ref="ZCF.9"/>
        <xs:element ref="ZCF.10"/>
        <xs:element ref="ZCF.11"/>
        <xs:element ref="ZCF.12"/>
        <xs:element ref="ZCF.13"/>
        <xs:element ref="ZCF.14"/>
        <xs:element ref="ZCF.15"/>
        <xs:element ref="ZCF.16"/>
        <xs:element ref="ZCF.17"/>
        <xs:element ref="ZCF.18"/>
        <xs:element ref="ZCF.19"/>
        <xs:element ref="ZCF.20"/>
        <xs:element ref="ZCF.21"/>
        <xs:element ref="ZCF.22"/>
        <xs:element ref="ZCF.23"/>
        <xs:element ref="ZCF.24"/>
        <xs:element ref="ZCF.25"/>
        <xs:element ref="ZCF.26"/>
        <xs:element ref="ZCF.27"/>
        <xs:element ref="ZCF.28"/>
        <xs:element ref="ZCF.29"/>
        <xs:element ref="ZCF.31"/>
        <xs:element ref="ZCF.33"/>
        <xs:element ref="ZCF.35"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZCF.1" type="xs:string"/>
  <xs:element name="ZCF.3" type="xs:string"/>
  <xs:element name="ZCF.5" type="xs:string"/>
  <xs:element name="ZCF.7" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.9" type="xs:string"/>
  <xs:element name="ZCF.10" type="xs:string"/>
  <xs:element name="ZCF.11" type="xs:string"/>
  <xs:element name="ZCF.12" type="xs:string"/>
  <xs:element name="ZCF.13" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.14" type="xs:integer"/>
  <xs:element name="ZCF.15" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.16" type="xs:integer"/>
  <xs:element name="ZCF.17" type="xs:string"/>
  <xs:element name="ZCF.18" type="xs:NCName"/>
  <xs:element name="ZCF.19" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.20" type="xs:string"/>
  <xs:element name="ZCF.21" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.22" type="xs:NCName"/>
  <xs:element name="ZCF.23" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.24" type="xs:NCName"/>
  <xs:element name="ZCF.25" type="xs:NMTOKEN"/>
  <xs:element name="ZCF.26" type="xs:integer"/>
  <xs:element name="ZCF.27" type="xs:string"/>
  <xs:element name="ZCF.28" type="xs:NCName"/>
  <xs:element name="ZCF.29" type="xs:string"/>
  <xs:element name="ZCF.31" type="xs:string"/>
  <xs:element name="ZCF.33" type="xs:string"/>
  <xs:element name="ZCF.35" type="xs:string"/>
  <xs:element name="OBR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.1"/>
        <xs:element ref="OBR.3"/>
        <xs:element ref="OBR.4"/>
        <xs:element ref="OBR.5"/>
        <xs:element ref="OBR.7"/>
        <xs:element minOccurs="0" ref="OBR.10"/>
        <xs:element ref="OBR.15"/>
        <xs:element ref="OBR.16"/>
        <xs:element ref="OBR.24"/>
        <xs:element minOccurs="0" ref="OBR.25"/>
        <xs:element ref="OBR.27"/>
        <xs:element ref="OBR.29"/>
        <xs:element ref="OBR.30"/>
        <xs:choice>
          <xs:element ref="OBR.51"/>
          <xs:element ref="OBR.55"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.1" type="xs:integer"/>
  <xs:element name="OBR.3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.3.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.3.1" type="xs:NCName"/>
  <xs:element name="OBR.4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.4.1"/>
        <xs:element ref="OBR.4.2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.4.1" type="xs:NCName"/>
  <xs:element name="OBR.4.2" type="xs:string"/>
  <xs:element name="OBR.5" type="xs:NCName"/>
  <xs:element name="OBR.7" type="xs:integer"/>
  <xs:element name="OBR.10">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.10.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.10.1" type="xs:NCName"/>
  <xs:element name="OBR.15">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.15.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.15.1" type="xs:NCName"/>
  <xs:element name="OBR.16">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.16.2"/>
        <xs:element ref="OBR.16.3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.16.2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.16.2.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.16.2.1" type="xs:NCName"/>
  <xs:element name="OBR.16.3" type="xs:NCName"/>
  <xs:element name="OBR.24" type="xs:NCName"/>
  <xs:element name="OBR.25" type="xs:NCName"/>
  <xs:element name="OBR.27">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.27.6"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.27.6" type="xs:NCName"/>
  <xs:element name="OBR.29">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBR.29.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBR.29.1" type="xs:NMTOKEN"/>
  <xs:element name="OBR.30" type="xs:NCName"/>
  <xs:element name="OBR.51" type="xs:NCName"/>
  <xs:element name="OBR.55" type="xs:NCName"/>
  <xs:element name="OBX">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBX.1"/>
        <xs:element ref="OBX.2"/>
        <xs:element ref="OBX.3"/>
        <xs:element ref="OBX.5"/>
        <xs:element minOccurs="0" ref="OBX.7"/>
        <xs:element ref="OBX.11"/>
        <xs:element ref="OBX.14"/>
        <xs:element ref="OBX.15"/>
        <xs:element ref="OBX.16"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBX.1" type="xs:integer"/>
  <xs:element name="OBX.2" type="xs:NCName"/>
  <xs:element name="OBX.3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBX.3.1"/>
        <xs:element ref="OBX.3.2"/>
        <xs:element ref="OBX.3.3"/>
        <xs:element ref="OBX.3.6"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBX.3.1" type="xs:NCName"/>
  <xs:element name="OBX.3.2" type="xs:NCName"/>
  <xs:element name="OBX.3.3" type="xs:NCName"/>
  <xs:element name="OBX.3.6" type="xs:NCName"/>
  <xs:element name="OBX.5">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBX.5.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBX.5.1" type="xs:string"/>
  <xs:element name="OBX.7" type="xs:string"/>
  <xs:element name="OBX.11" type="xs:NCName"/>
  <xs:element name="OBX.14" type="xs:integer"/>
  <xs:element name="OBX.15">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBX.15.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBX.15.1" type="xs:NCName"/>
  <xs:element name="OBX.16">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OBX.16.1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OBX.16.1" type="xs:NCName"/>
</xs:schema>
